*
!.gitignore
!LICENSE
!README.md
!go.py
!gopyjson.py
!go/
!go/common.go
!go/common_test.go
!go/go.mod
!benchmarks/
!benchmarks/benchmark_test.go
!benchmarks/benchmark_average.py
!benchmarks/gopyjson/
!benchmarks/gopyjson/common.go
!benchmarks/gopyjson/gopyjson.go
!benchmarks/types/
!benchmarks/types/types.go
!benchmarks/types/types_ffjson.go
!benchmarks/go.mod
!benchmarks/data/
!benchmarks/data/1.ndjson
!benchmarks/data/2.ndjson
